@model MacroMinder.Models.IngredientDetail

@{
    ViewBag.Title = "Details";
}

<h2>Ingredient Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IngredientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngredientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngredientShared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientShared)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngredientQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngredientQuantityUnitOfMeasurement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientQuantityUnitOfMeasurement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Protein)
        </dt>

        <dd>
            @(Html.DisplayFor(model => model.Protein) + "g")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fat)
        </dt>

        <dd>
            @(Html.DisplayFor(model => model.Fat) + "g")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>

        <dd>
            @(Html.DisplayFor(model => model.Carbohydrates) + "g")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DietaryFiber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DietaryFiber)
        </dd>

    </dl>
</div>

@using Microsoft.AspNet.Identity;
@{var user = Guid.Parse(HttpContext.Current.User.Identity.GetUserId());}
@if (user.ToString() == Model.IngredientOwner.ToString())
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IngredientID }) |
        @Html.ActionLink("Back to List", "Index")

    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
