@model IEnumerable<MacroMinder.Models.IngredientList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngredientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredientShared)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredientQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredientQuantityUnitOfMeasurement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Protein)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DietaryFiber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientShared)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientQuantityUnitOfMeasurement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Protein)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carbohydrates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DietaryFiber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IngredientID }) |
            @Html.ActionLink("Details", "Details", new { id = item.IngredientID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IngredientID })
        </td>
    </tr>
}

</table>
